.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mainScreen {
 display: flex;
flex-direction: row;
 position: relative;
top: 0;
height: fit-content;
width: 100%;

}
.flag-img {
  display: block;
  width: 45%;
  height: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
}
.Mcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  height: fit-content;
  width: 100%;
  background-color: grey;
}
.MapDiv{
  height: 88vh;
}
.log{
  border-radius: 20px;
  padding: 0px;
  width: 40%;
  height: 50%;
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Auth-form {
  width: 80%;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 17px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.Country-name {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.travel-container {
  margin-left: 20 px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  height: fit-content;
  width: 100%;
}

.chatFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.chatForm {
  width: 80%;
  height: 95%;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 8px;
  background-color: white;
}

.chatFormContent {
  padding-left: 12%;
  padding-right: 12%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height:100%;
}

.chatFormTitle {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.userLeft {
  display: inline-block;
  text-align: left;
  padding-left: 1px;
}

.userRight {
  display: inline-block;
  text-align: right;
  padding-right: 1px;
}

.chatFormFooter {
  height: max-content;
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 10px;
}

.backToMapScreen {
  /*display: inline-block;
  height: auto;
  vertical-align: bottom; */
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}